<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.zwtcount.mapper.AppMapper">
    <insert id="addListCvs">
        insert into zwt_count(url,volume) values
        <foreach collection="list" item="cvs" separator=",">
            (#{cvs.url},#{cvs.volume})
        </foreach>
    </insert>
<!--    <select id="selAll" resultType="com.zjy.zwtcount.entity.Cvs">-->
<!--        select id id,url url,volume volume from zwt_count order by volume desc limit 20-->
<!--    </select>-->
    <select id="selAll" resultType="com.zjy.zwtcount.entity.Cvs">
        select id id,url url,volume volume from zwt_count
    </select>
    <update id="delAll">
        truncate  table zwt_count
    </update>
</mapper>